<div id="alunos">
  <div class="aluno">
    <img class="photo" src="<%=asset_path('sampas.jpg')%>">
    <p>André Sampaio</p>
    <p>41972</p>
    <p>Contacto: 963841934</p>
  </div>
  <div class="aluno">
    <img class="photo" src="<%=asset_path('fernandez.jpg')%>">
    <p>João Fernandes</p>
    <p>41909</p>
    <p>Contacto: 963841934</p>
  </div>

</div>
<div id="intro">
  <p>No âmbito da disciplina de DAWeb, foi nos pedido que realizassemos uma aplicação.
    Essa a desenvolver irá permitir a visualização e a navegação numa
    rede social de cariz proﬁssional, onde se relaciona a informação sobre
    utilizadores individuais e os seus currículos, sobre empresas onde
    essas pessoas trabalham, e um conjunto de contactos proﬁssionais.
    A aplicação desenvolvida deverá suportar a utilização de temas visuais,
    navegação através de menus, pesquisa, ordenação, selecção de pessoas por
    empresa, e paginação da informação sobre os contactos.
  </p>
</div>