<div id ="footer"><!-- FOOTER-->
  <div id="logo">
  </div>
  <div id="validators">
    <p class="vertical_centered" style="float:left;">
      <a href="http://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px"
             src="http://jigsaw.w3.org/css-validator/images/vcss"
             alt="CSS válido!" />
      </a>
    </p>
    <p class="vertical_centered" style="float:left;">
      <a href="http://validator.w3.org/check?uri=https%3A%2F%2Fdl.dropboxusercontent.com%2Fu%2F16682859%2FLets%2520Go%2520Pro%2Findex.html">
        <img style="border:0;width:88px;height:31px"
             src="http://historyguild.bygbyte.org/images/html5.jpg"
             alt="HTML5 válido!" />
      </a>
    </p>

  </div>
</div><!-- END FOOTER-->