<div id="top_menu">
  <div id="nav_button">
    <img id="button" alt="menu icon" onclick="toggle_menu()" src="images/"/>
  </div>
  <div class="clickable_logo logo_holder">
    <p class="logo">Lets <b class="greenIncrease">Go</b> Pro</p>
  </div>

  <div id="user_details">
    <div id="user_pic">
      <img id="user_photo" alt="user pic" src="./img/user_pic.jpg"/>
    </div>
    <div id="info">
      <p><span class="user_title">Name: </span><span class="user_detail"></span></p>
      <p><span class="user_title">Employed at: </span><span class="user_detail">Faculdade de Ciências e Tecnologias</span></p>
    </div>
  </div>

  <div id="search">
    <input id="input_search" type="search"  name="search_gopro">
    <button id="button_search" onclick="searchResultsFromIndex()" type="button">Search</button>
  </div>
</div>

<div id ="nav_bar">
  <ul class="centered">
    <li><a href="index.html" class="clickable_nav">Home</a></li>
    <li><a href="./html/user.html" class="clickable_nav">My Profile</a></li>
    <li><a href="./html/contacts.html" class="clickable_nav">Contacts</a></li>
    <li><a href="./html/company.html" class="clickable_nav">Company Profile</a></li>
    <li> <a href="./html/about.html" class="clickable_nav">About Us</a></li>
    <li><a href="./html/exit.html" class="clickable_nav">Exit</a></li>
  </ul>
</div>