

<div id="left_side_bar"> <!-- LEFT SIDE -->
  <div class="centered">
    <h3 class="bar_title">My Connections</h3>
  </div>
  <hr>
  <span class="social_title">COMPANIES</span>
  <ul class="social_menu focusListElem">
    <li>
      <a href="#" >YOMama</a>
    </li>
    <li>
      <a href="#">Apple</a>
    </li>
    <li>
      <a href="#">Google</a>
    </li>
    <li>
      <a href="#">Samsung</a>
    </li>
    <li>
      <a href="#">Txaina</a>
    </li>
  </ul>
  <span class="social_title">Groups</span>
  <ul class="social_menu focusListElem">
    <li>
      <a href="#">Hard Workers</a>
    </li>
    <li>
      <a href="#">Not So Hard Workers</a>
    </li>
    <li>
      <a href="#">The Lazy Ones</a>
    </li>
    <li>
      <a href="#">FCT-UNL</a>
    </li>
    <li>
      <a href="#">Bieber Fans</a>
    </li>
  </ul>
  <span class="social_title">My Companies</span>
  <ul class="social_menu focusListElem">

    <li>
      <a href="#">Bieber Industries</a>
    </li>
    <li>
      <a href="#">Myer Nail Polish Enterprise</a>
    </li>
    <li>
      <a href="#">Jonh's Lemonade Stand</a>
    </li>
    <li>
      <a href="#">Killer Bees Farm</a>
    </li>
    <li>
      <a href="#">Apple Ripoff Products Limited</a>
    </li>
  </ul>
</div><!-- END LEFT SIDE-->
