

<div id="left_side_bar"> <!-- LEFT SIDE -->
  <div class="centered">
    <h3 class="bar_title">My Connections</h3>
  </div>
  <hr>
  <span class="social_title">My Company</span>
  <ul class="social_menu focusListElem">
    <li><%= link_to current_user.company.name, company_path(current_user.company_id) %></li>
  </ul>
  <span class="social_title">NEW COMPANIES</span>
  <ul class="social_menu focusListElem">
    <% Company.all.first(10).each do |company| %>
    <li>
      <%= link_to company.name, company_path(company.id) %>
    </li>
    <% end %>
  </ul>
  <span class="social_title">Groups</span>
  <ul class="social_menu focusListElem">
    <li>
      <a href="#">Hard Workers</a>
    </li>
    <li>
      <a href="#">Not So Hard Workers</a>
    </li>
    <li>
      <a href="#">The Lazy Ones</a>
    </li>
    <li>
      <a href="#">FCT-UNL</a>
    </li>
    <li>
      <a href="#">Bieber Fans</a>
    </li>
  </ul>
</div><!-- END LEFT SIDE-->
