<div id="content">
  <div id="news_feed"> <!-- NEWS FEED -->
    <div id ="publish_new">
      <a href="./html/publish.html" class="bar_title">Click me if you have news to publish</a>
    </div>
    <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
          <%= value %>
        </div>
    <% end %>
    <%= yield %>
  </div><!-- END NEWS FEED -->
  <%= render :partial => 'shared/footer' %>
</div>