<div id="content">
  <div id="news_feed"> <!-- NEWS FEED -->

    <div class="announce">
    <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
          <%= value %>
        </div>
    <% end %>
    </div>
    <%= yield %>
  </div><!-- END NEWS FEED -->
  <%= render :partial => 'shared/footer' %>
</div>