<div id="content">
  <div id="news_feed"> <!-- NEWS FEED -->
    <div id ="publish_new">
      <a href="./html/publish.html" class="bar_title">Click me if you have news to publish</a>
    </div>
    <%= yield %>
    <div class="news_block">
      <div class="news_title">
        <h2>Finalmente empregada</h2>
      </div>
      <div class="news_author">
        <div class="author_img">
          <a href="#"><img alt="user pic" src="img/AshleyPerson.jpg"/></a>
        </div>
        <div class="author_info">
          <p><span class="user_title">Name: </span><span class="user_detail">Ashley Davidson</span></p>
          <p><span class="user_title">Employed at: </span><span class="user_detail">Faculdade de Ciências e Tecnologias</span></p>
        </div>

      </div>
      <div class="news_content">
        <p>Leiria, 01 nov (Lusa) - Os dois suspeitos de uma burla que causou prejuízos superiores a um milhão de euros à banca saíram hoje em liberdade do tribunal de Leiria,
          mas proibidos de contactarem os arguidos do processo, disse à Lusa fonte da PJ.
          <br>
          O comerciante e o gestor detidos na quarta-feira em Braga e em Guimarães são presumíveis coautores de crimes de burla qualificada e falsificação de documentos, em colaboração com um outro arguido,
          o ex-presidente da SAD da União de Leiria João Bartolomeu, adiantou a mesma fonte da PJ à Lusa.
          <br>
          Eu sou o Presidente da Junta de Corroios!
        </p>
      </div>
      <div class="news_footer">
        <div class="news_actions">
          <a href="#">Like</a> |
          <a href="#">Dislike</a> |
          <a href="#">Edit</a> |
          <a href="#">Remove</a>
        </div>
      </div>
    </div>
    <div class="news_block">
      <div class="news_title">
        <h2>Looking for interface designers, WERE DESPERATE!</h2>
      </div>
      <div class="news_author">
        <div class="author_img">
          <a href="#"><img alt="user pic" src="./img/Person.Ashley.jpg"/></a>
        </div>
        <div class="author_info">
          <p><span class="user_title">Name: </span><span class="user_detail">Herald Jonhson</span></p>
          <p><span class="user_title">Employed at: </span><span class="user_detail">Microsoft</span></p>
        </div>

      </div>
      <div class="news_content">
        <p>Leiria, 01 nov (Lusa) - Os dois suspeitos de uma burla que causou prejuízos superiores a um milhão de euros à banca saíram hoje em liberdade do tribunal de Leiria,
          mas proibidos de contactarem os arguidos do processo, disse à Lusa fonte da PJ.
          <br>
          O comerciante e o gestor detidos na quarta-feira em Braga e em Guimarães são presumíveis coautores de crimes de burla qualificada e falsificação de documentos, em colaboração com um outro arguido,
          o ex-presidente da SAD da União de Leiria João Bartolomeu, adiantou a mesma fonte da PJ à Lusa.
          <br>
          Eu sou o Presidente da Junta de Corroios!
        </p>
      </div>
      <div class="news_footer">
        <div class="news_actions">
          <a href="#">Like</a> |
          <a href="#">Dislike</a> |
          <a href="#">Edit</a> |
          <a href="#">Remove</a>
        </div>
      </div>
    </div>
    <div class="news_block">
      <div class="news_title">
        <h2>Opening new department, looking for managment specialists</h2>
      </div>
      <div class="news_author">
        <div class="author_img">
          <a href="#"><img alt="user pic" src="./img/sarah.jpg"/></a>
        </div>
        <div class="author_info">
          <p><span class="user_title">Name: </span><span class="user_detail">Sarah Hamilton</span></p>
          <p><span class="user_title">Employed at: </span><span class="user_detail">Linux</span></p>
        </div>

      </div>
      <div class="news_content">
        <p>Leiria, 01 nov (Lusa) - Os dois suspeitos de uma burla que causou prejuízos superiores a um milhão de euros à banca saíram hoje em liberdade do tribunal de Leiria,
          mas proibidos de contactarem os arguidos do processo, disse à Lusa fonte da PJ.
          <br>
          O comerciante e o gestor detidos na quarta-feira em Braga e em Guimarães são presumíveis coautores de crimes de burla qualificada e falsificação de documentos, em colaboração com um outro arguido,
          o ex-presidente da SAD da União de Leiria João Bartolomeu, adiantou a mesma fonte da PJ à Lusa.
          <br>
          Eu sou o Presidente da Junta de Corroios!
        </p>
      </div>
      <div class="news_footer">
        <div class="news_actions">
          <a href="#">Like</a> |
          <a href="#">Dislike</a> |
          <a href="#">Edit</a> |
          <a href="#">Remove</a>
        </div>
      </div>
    </div>
    <div class="news_block">
      <div class="news_title">
        <h2>WANT TO NUKE WORLD, need lackeys</h2>
      </div>
      <div class="news_author">
        <div class="author_img">
          <a href="#"><img alt="user pic" src="./img/un.jpg"/></a>
        </div>
        <div class="author_info">
          <p><span class="user_title">Name: </span><span class="user_detail">Kim Jong Un</span></p>
          <p><span class="user_title">Employed at: </span><span class="user_detail">The Great Republic of North Korea</span></p>
        </div>

      </div>
      <div class="news_content">
        <p>Leiria, 01 nov (Lusa) - Os dois suspeitos de uma burla que causou prejuízos superiores a um milhão de euros à banca saíram hoje em liberdade do tribunal de Leiria,
          mas proibidos de contactarem os arguidos do processo, disse à Lusa fonte da PJ.
          <br>
          O comerciante e o gestor detidos na quarta-feira em Braga e em Guimarães são presumíveis coautores de crimes de burla qualificada e falsificação de documentos, em colaboração com um outro arguido,
          o ex-presidente da SAD da União de Leiria João Bartolomeu, adiantou a mesma fonte da PJ à Lusa.
          <br>
          Eu sou o Presidente da Junta de Corroios!
        </p>
      </div>
      <div class="news_footer">
        <div class="news_actions">
          <a href="#">Like</a>|
          <a href="#">Dislike</a>|
          <a href="#">Edit</a> |
          <a href="#">Remove</a>
        </div>
      </div>
    </div>
  </div><!-- END NEWS FEED -->
  <%= render :partial => 'shared/footer' %>
</div>