<div id="right_side_bar"><!-- RIGHT SIDE -->
  <div class="centered">
    <h3 class="bar_title">Recent Employment Announces</h3>
  </div>
  <hr>
  <ul id="announces" class="focusListElem">
    <li>
      <a href="#">Google hiring NSA employees</a>
    </li>
    <li>
      <a href="#">YOMama needs workers</a>
    </li>
    <li>
      <a href="#">Apple searching consultant</a>
    </li>
    <li>
      <a href="#">Samsung hunting merchants</a>
    </li>
    <li>
      <a href="#">Oracle needs cleaning lady</a>
    </li>
  </ul>
</div><!-- END RIGHT SIDE -->
