<div id="right_side_bar"><!-- RIGHT SIDE -->
  <div class="centered">
    <h3 class="bar_title">Recent News Feed</h3>
  </div>
  <hr>
  <ul id="announces" class="focusListElem">
      <% Post.all.first(5).reverse_each do |post| %>
        <li><%= link_to post.title, post_path(post) %></li>
      <% end %>
  </ul>
</div><!-- END RIGHT SIDE -->
