#nav_bar li:nth-child(2) {
    background-color: white;
}

#user {
    float: left;
    width: 45%;
}

#user_info {
    height: 8em;
    padding-top: 0.8em;
    background-color: lightgray;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    margin-left:1em;
    margin-right: 1em;
    margin-top:2em;
}

#user_photo {
    float: left;
    height: 6em;
    width: 6em;
    float: left;
    margin-left: 2em;
    margin-top: 1em;
    border-radius: 0.5em;
}

#user_text {
    float: left;
    top: 1em;
    margin: 1em;
}

#curriculum {
    padding: 1em;
    margin-left:1em;
    margin-right: 1em;
    border:1px solid lightgray;
    min-height: 50%;
}

#contacts {
    margin-right: 1em;
    margin-left: 1em;
    float:left;
    margin-bottom: 1em;
}

.curriculum_author_title{
    font-weight: bold;
}
.curriculum_author_text{
    color:green;
}

#contacts_title{
    background-color: lightgray;
    text-align: center;
    border-bottom-right-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
}

#all_contacts a{
   text-decoration: none;
   color: #848484;
}

#new_contacts {
    text-align: center;
    background-color: #efefef;
    border-bottom-right-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    height: 2em;
    line-height: 2em;
    font-weight: bold;
    margin-right: 1em;
    margin-left: 1em;
}

#new_contacts a{
    text-decoration: none;
    font-size: 0.9em;
    color:green;
}

#contacts_list li {
    margin-bottom: 1em;
    background-color: lightgray;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    height: 2.1em;
}

#contacts_list li:hover{
    background-color: darkgray;
}

.contact_img {
    background-color: white;
    float:left;
    width: 2em;
    height: 2em;
    border: 1px solid gray;
    border-radius: 0.2em;
}

#contacts_list a{
    margin-left: 1em;
    text-decoration: none;
    color:#000000;
    width: 3em;
    line-height: 2em;
}
/*Fim de Template*/